---
import Header from "@sharing/organisms/Header.astro";
import Footer from "@sharing/organisms/Footer.astro";

const lang = Astro.currentLocale as "es" | "en" ?? "en";
---

<html {lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link href="themes/prism-one-dark.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header {lang} />
    <main class="layout">
      <slot />
    </main>
    <Footer {lang} />
  </body>
</html>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return "system";
  })();

  const systemDark = window.matchMedia("(prefers-color-scheme: dark)").matches;

  if (theme === "light" || (theme === "system" && !systemDark)) {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  @tailwind variants;
</style>

<style>
  body {
    @apply bg-slate-50 dark:bg-slate-900 text-slate-900 dark:text-slate-50;
  }
  .layout {
    @apply w-full;
  }
</style>