---
import Layout from "@layouts/Layout.astro";
// import Hero from "@builtin/organisms/Hero.astro";
---

<Layout lang="en">
  <h1>Documentation</h1>
  <!-- <Hero />
  <p>Built-in forms</p> -->
</Layout>