---
import { Prism } from "@astrojs/prism";
import Layout from "@layouts/Layout.astro";
---
<Layout lang="en">
	<h1 class="title">faivform</h1>
	<Prism code="npm install @tuentyfaiv/svelte-form" lang="sh" />
</Layout>

<style>
	.title {
		@apply text-4xl font-bold text-center;
	}
</style>