---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <h1>Resources</h1>
  <h2>Icons by <a target="_blank" href="https://icons8.com" rel="noopener noreferrer">Icons8</h2>
  <a
    target="_blank" rel="noopener noreferrer"
    href="https://icons8.com/icon/LoL4bFzqmAa0/github"
  >
    GitHub
  </a>
</Layout>