---
import { Code } from "astro:components";
import Layout from "@layouts/Layout.astro";
---

<Layout lang="es">
  <p>Página de inicio</p>
  <Code
    code="npm install @tuentyfaiv/svelte-form"
    lang="zsh"
    wrap
    theme="material-theme-ocean"
  />
  <Code code={Astro.url.pathname} lang="json" wrap theme="material-theme-ocean" />
</Layout>
